{% extends "reporter/layout.html" %}

{% block title %}
    Reporter Info
{% endblock %}

{% block main %}
    
    <h1 class="my-4">Do you want to be part of our Reporters?</h1>

    <p>Welcome to the FootballNews reporting family, where reporting is an art.</p>
    <p>We pride ourselves for giving the most accurate and up to date footballing news, local or international.</p>
    <p>We are team of prefessionals in collaborating and developing football news reporting.</p>
    <p>With us, you will have the opportunity to develop and harness your reporting skills.</p>  
    <h1>Please read the guidelines for joining us</h1>
    <p>Your article should be concise and well written.</p>
    <p>Your first and last name will be added to your article on the news page.</p>
    <p>Your must have a valid e-mail address, which will be used to login.</p>
    <p>You must remember your password to login.</p>
    <h1 class="my-4">To join us, please visit our <a style="text-decoration: none;" href="{% url 'admin' %}">Registration page.</a></h1>
    
{% endblock %}